<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
    <title>Top page</title>
</head>
<body>
<div layout:fragment="contents">
  <section id="main">
      <section class="content">
        <h3 class="heading">ここは簡易掲示板です</h3>
        <article>
          <p>SpringBootで作った簡易的な掲示板です。</p>
          <p>スレッドの作成およびコメントは、メニューの掲示板からどうぞ。</p>
        </article>
      </section>
  </section>
</div>
</body>
</html>